.Stage {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 60px;
    padding: 20px;
   

    
}

/* Responsive layout */
@media (max-width: 1024px) {
    .Stage {
        gap: 20px;
    }
}

