/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-top: 0px;
  padding-bottom: 0px;
  z-index: 2;
  color: rgb(153, 156, 156);
  font-family: poppins , sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
  max-width: 150px; /* Adjust to your preferred logo size */
  height: auto;
  transition: transform 0.3s ease;
  transform: scale(1);
  
}
.logo img:hover{
  transform: scale(1.05);
 
}
.logo img{
  transition: transform 0.3s ease-out;
}

.logo{
  padding: 0px;
  margin: 0px;
}
/* Hamburger Icon */
.hamburger {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
  color:#4C1F7A;
}

/* Navbar Links */
.nav-links {
  list-style: none;
  display: flex;
  padding-top: 10px;
  padding-right: 20px;
  gap: 1.8em;
  
  align-items: center;
  transition: transform 0.3s ease;
}
.nav-links li:hover{
  scale: 1.02;
  color: rgb(102, 102, 102);
  transition: scale 0.3s;
}
.nav-links li a {
  text-decoration: none;
  
  font-weight: bold;
  font-size: 18px;
 
 
}
.nav-links li a:hover{
  
  text-shadow: 2px 2px 5px rgba(221, 219, 219, 0.3);
  transition: text-shadow 0.3s,scale 0.3s;
  
}





/* Close Button for Sidebar */
.close-btn {
  display: none;
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 1.5em;
  cursor: pointer;
  color: purple;
}

/* Sidebar for Mobile */
@media (max-width: 768px) {
  .nav-links {
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 250px;
      background-color: white;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: translateX(100%);
      box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  }

  /* Sidebar active state */
  .nav-links.active {
      transform: translateX(0);
  }

  /* Style links in sidebar */
  .nav-links li {
      margin: 1em 0;
  }

  /* Show hamburger icon on mobile */
  .hamburger {
      display: block;
  }

  /* Show close button in sidebar */
  .close-btn {
      display: block;
  }
}
